body {
    display: flex;
    flex-direction: column;
    place-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
}

.index-title {
    font-size: 175%;
    font-weight: bolder;
}

.index-table {
    .index-table-r {
        display: flex;
        flex-direction: column;
        align-items:center ;
        .index-table-r-title {

        }
        .index-table-r-row {
            display: flex;
            flex-direction: row;
            .index-table-r1 {

            }
            .index-table-r2 {

            }
            .index-table-r3 {

            }
        }
    }
    .index-table-s {
        display: flex;
        flex-direction: column;
        align-items:center ;
        .index-table-s-title {

        }
        .index-table-s-row {
            display: flex;
            flex-direction: row;
            .index-table-s1 {

            }
            .index-table-s2 {

            }
            .index-table-s3 {
                
            }
        }
    }
    .index-table-v {
        display: flex;
        flex-direction: column;
        align-items:center ;
        .index-table-v-title {

        }
        .index-table-v-row {
            display: flex;
            flex-direction: row;
            .index-table-v1 {

            }
            .index-table-v2 {

            }
            .index-table-v3 {
                
            }
        }
    }
}

.index-btn {
    button {
        background-color: blue; 
        color: white;
        &:hover {
            cursor: pointer;
        }
    }
}

.index-result {
    font-size: larger;
}