@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@1,200&display=swap');

:root {
    --color-primary: #FF0060;
    --color-white: #FFF;
    --color-info-dark: #7D8DA1;
    --color-dark: #363949;
    --color-light: rgba(132, 139, 200, 0.18);
    --color-dark-variant: #677483;
    --color-background: #0a0a0a;

    --box-shadow: 0 2rem 3rem var(--color-light);

    --phone: 576px;
    --tablet: 768px;
    --desktop: 992px;
    --laptop: 1200px;
    --widescreen: 1400px;
    --largescreen: 1600px;
    --xl: 1800px;
}

.dark-mode-variables {
    --color-background: #303b52;
    --color-white: #222d33;
    --color-dark: #EDEFFD;
    --color-dark-variant: #719eb8;
    --color-info-dark: #fffafa;
    --color-light: rgba(0, 0, 0, 0.4);

    --box-shadow: 0 2rem 3rem var(--color-light);
}

* {
    margin: 0;
    padding: 0;
    outline: 0;
    appearance: 0;
    border: 0;
    text-decoration: none;
    box-sizing: border-box;
}

html {
    font-size: 14px;
}

body {
    width: 100vw;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
    background: var(--color-background);
    color: var(--color-dark);
    font-size: 0.88rem;
    overflow: hidden;
    transition: all 0.3s ease;
}