body {
    display: flex;
    flex-direction: column;
    place-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
}

.index-table {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .index-svp {
        display: flex;
        flex-direction: column;
        .index-svp-title {
            font-size: 200%;
            font-weight: bolder;
        }
        .index-svp-select {
            display: flex;
            .index-svp-select-S {
                margin: 0 30px 0 30px;
        
            }
            .index-svp-select-V {
                margin: 0 30px 0 30px;
            }
            .index-svp-select-P {
                margin: 0 30px 0 30px;
            }
        }
        .index-svp-result {
            font-size: larger;
            text-align: center;
        }
    }
    .index-ceap {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .index-ceap-title {
            font-size: 200%;
            font-weight: bolder;
        }
        .index-ceap-select {
            display: flex;
            .index-ceap-select-C {
                margin: 0 30px 0 30px;
            }
            .index-ceap-select-E {
                margin: 0 30px 0 30px;
            }
            .index-ceap-select-A {
                margin: 0 30px 0 30px;
            }
            .index-ceap-select-P {
                margin: 0 30px 0 30px;
            }
        }
        .index-ceap-result {
            font-size: larger;
            text-align: center;
        }
    }
}

